<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap CSS -->
     {{ bootstrap.load_css() }}

    <title>API Page</title>
</head>
<body>
    <!-- Navigation Bar -->
    {% include "header.html" %}

    <br> <br>

    <div id="api_div" class="text-center">
        <img src="/static/buttons/use this image.jpg" alt="Would you like to use this image?">
        <br>
        <img src="https://picsum.photos/id/{{random_id}}/800/600">
        <br>
        <br>
        <form action="/apipage" method="POST">
            <input type="hidden" name="random_id" value="{{random_id}}">
            <input class="btn btn-light btn-lg" type="image" src="/static/buttons/yes! (go to edit page).jpg" alt="Yes, use this image">
        </form>
        <br> <br>
        <a href="/apipage">
            <img class="btn btn-light btn-lg" src="/static/buttons/no! (get new image).jpg" alt="No, give me a new image">
        </a>
        <br> <br>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}

    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
</body>
</html>