<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
</head>
<body>
    <!-- Navigation Bar -->
    {% include "header.html" %}

    <div class="container mt-5 text-center">
        <h2>Select an Image to Upload</h2>
        <form method="POST" enctype="multipart/form-data" class="mt-4">
            <input type="file" name="file" accept="image/*" class="form-control mb-3" required>

{#            <button type="submit" class="btn btn-success">Upload</button>#}
            <input class="btn btn-success" type="image" src="/static/buttons/click to upload image.jpg" alt="Upload">
        </form>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}

    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
</body>
</html>
